<a class="image shadow" data-toggle="collapse" href=SPEX_TAG role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
    <img class="image" style="width:50vw; height:20vw;" src="img/TusenOchEnNatt.png">
</a>

<div class="w-100"></div>
<div class="row">
    <div class="col-10">
        <div class="collapse multi-collapse" id="EnNattSongs">
            <div class="card card-body" id="SongCard">
                <h5 class="card-title">SPEX_TITLE</h5>
                <ol>
                  SPEX_SONGS
                </ol>
            </div>
        </div>
    </div>
</div>
